body{
    font-family: 'Roboto', sans-serif;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar{
    display: none;
}
@media (max-width: 991.98px) {
    .position-relative:first-child {
      z-index: -13;
    }
  }
  
.hide{
  opacity: 0;
}